* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

:root {
   --brand-light: #59B2FF;
   --brand-mid: #3487CF;
   --brand-dark: #1D6FB6;

   --purple: #B259FF;
   --fuschia: #FF59F9;
   --pink: #FF598B;
   --orange: #FF8B59;
   --yellow: #FFCD59;
   --lime: #E1FF59;
   --green: #59FF91;  
   --cyan: #59FFF9;
   --navy: #6A59FF;

   --danger: #FF5959;

   --input-base: #1C1F21;
   --input-stroke: #363B40;
   --input-placeholder: #869198;

   --shape-background: #131516;
   --shape-body: #212427;
   --shape-button: #2D3136;
   --shape-hover: #383D42;

   --text-body: #C8CDD0;
   --text-heading: #F9F9F9;

   --font-leckerli: "Leckerli One", cursive;
   --font-baloo: "Baloo 2", sans-serif;
   --font-opensans: "Open Sans", sans-serif;
   --logo: 400 2.5rem var(--font-leckerli);
   --heading-md: 700 1.75rem var(--font-baloo);
   --heading-sm: 700 1.125rem var(--font-baloo);
   --body-md: 400 1rem var(--font-opensans);
   --body-sm: 400 0.875rem var(--font-opensans);
   --body-md: 400 0.75rem var(--font-opensans);
}

body {
   background-color: var(--shape-background);
   color: var(--text-body);
   font: var(--body-md);
}

img {
   max-width: 100%;
   height: auto;
}