input,
select,
textarea {
  appearance: none;
  width: 100%;
  border-radius: 0.5rem;
  background-color: var(--input-base);
  border: 1px solid var(--input-stroke);
  padding: 0.75rem 1rem;

  font: var(--body-md);
  color: var(--text-heading);

  &::placeholder {
    color: var(--input-placeholder);
  }
}

label {
  display: block;
  margin-bottom: 0.75rem;
  font: var(--body-sm);
  color: var(--text-body);
}

.about {
  grid-template-areas: "a a" "b c" "d e" "f f";

  .title {
    grid-area: a;
  }
  .beginning {
    grid-area: b;
  }
  .ending {
    grid-area: c;
  }
  .description {
    grid-area: f;

    & textarea {
      resize: none;
      height: 8.5rem;
    }
  }
}

[type="date"] {
  text-transform: uppercase;

  &::-webkit-calendar-picker-indicator {
    opacity: 0;
  }
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
  border-color: var(--brand-light);
  &::placeholder {
    color: var(--text-body);
  }
}

.group {
  display: flex;
  gap: 1rem;
}

input {
  &:invalid {
    border: 0.125rem solid var(--danger);
  }

  &[required] + .error {
    display: flex;
    align-items: center;
    gap: 0.25rem;

    font: var(--body-xs);
    color: var(--danger);

    margin-top: 0.25rem;
    margin-left: 0.5rem;
  }

  &:not(:focus):valid + .error {
    display: none;
  }
}

.action {
  justify-content: end;

  button[type="submit"] {
    all: unset;

    display: flex;
    align-items: center;
    gap: 0.75rem;

    background-color: var(--brand-dark);
    color: var(--text-heading);
    cursor: pointer;

    padding: 0.75rem 1.25rem;
    border-radius: 0.5rem;
  }
}
